.table {
  margin-top: 8em;
  margin-bottom: 2em;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.table li {
  background-color: var(--blocks);
  color: var(--secondary);
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em 1em;
  border-radius: 1em;
}
.table p {
  margin: 0;
  flex-basis: 40%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.table p span {
  scale: 4;
  margin-left: 8px;
}

.table .caption {
  display: none;
}

.table li:not(.caption) p:nth-child(odd) {
  font-size: 1.5em;
}



@media (min-width: 748px) {
  .table .caption {
    display: flex;
    font-size: 1.5em;
    padding: 2rem;
    background-color: transparent;
    color: var(--primary);
  }
  .table li {
    flex-wrap: nowrap;
    gap: 2rem;
    text-align: center;
  }
  .table p {
    justify-content: center;
  }
  .table p span {
    margin-left: 0;
  }
  .table li:not(.caption) p:nth-child(odd) {
    display: none;
  }
}


