@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2em;
}





.betZone {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2em;
  align-items: center;
}


.betZone__inputSide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  
}
.betZone__text,
.betZone__inputSide input {
  grid-column: span 2;
}


.betZone__text p {
  color: var(--primary);
  margin: 0 0 0.5em 0;
}
.betZone__text p:last-of-type {
  font-size: 3em;
  margin-bottom: 0.25em;
}


.betZone__inputSide input {
  min-height: var(--inputsHeight);
  padding: 0.5em 1em;
  border: 1px solid var(--primary);
  border-radius: var(--borderRadius);
  font-size: 1.5em !important;
  background-color: var(--label);
  color: var(--secondary);
  transition: border-color 0.3s,
              box-shadow 0.3s;
}
.betZone__inputSide input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 5px var(--secondary);
  outline: none;
}
.betZone__inputSide input:hover {
  border-color: var(--secondary);
}

@media (max-width: 768px) {
  .betZone {
    grid-template-columns: 1fr;
  }
}