@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2em;
}



.header {
  margin: 2em 0 2em 0;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.6em;
  font-weight: 800;
}
.header span {
  font-size: 3em;
}
.header p {
  margin: 0;
}





.betZone {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2em;
  align-items: center;
}


.betZone__inputSide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  
}
.betZone__text,
.betZone__inputSide input {
  grid-column: span 2;
}


.betZone__text p {
  color: var(--primary);
}
.betZone__text p:last-of-type {
  font-size: 2em;
  margin: 0;
}


.betZone button span {
  transform: scaleX(1.5);
  display: inline-block;
  color: var(--secondary);
  font-size: 4em;
}