@layer reset, icons, init, design;

@import url(normalize.css) layer(reset);
@import url(../assets/icons/typography.css) layer(icons);
@import url(App.css) layer(design);

@layer init {
  :root {
    color-scheme: light;

    --primary: #2d3142;
    --secondary: #f2f2f2;
    --background: #ecdfcc;
    --blocks: #3c3d37;
    --label: #ecdfcc;
    --down: #c62e2e;
    --up: #399918;

    --inputsHeight: 50px;
    --borderRadius: 20px;
  }

  /* Dark mode – v devtools Ctrl + Shift + P = vyhledat scheme a emulovat na dark */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #f2f2f2;
      --secondary: #2d3142;
      --background: #404e5c;
      --blocks: #d9d9d9;
      --label: #ecdfcc;
      --down: #cf1259;
      --up: #55917f;
    }
  }
}
